$lightblack: #0f0b3d;
$sand: #dab756;
$lightgrey: #ebeceb;
$blue: #c1f5ff;
$white: #ffffff;
$whiteblur: rgba(255, 255, 255, 0.59);
$darkblue: #05003b;
$black: #000000;
$blackblur: rgba(0,0,0, .6);
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #cd486b;
